{% extends 'base.html.twig' %}

{% block title %}Bienvenu chez burger Food{% endblock %}

{% block body %}

    <div class="row my-5">
    {% for product in products %}
        {% include "partials/_product.html.twig" %}
    {% endfor %}
    </div>
{% endblock %}
