 <nav class="d-flex justify-content-center mb-3">
    <ul class="nav nav-pills">
        <li role="presentation" class="nav-item"><a class="nav-link {% if app.request.uri %}active{% endif %}" href="#" data-toggles="tab">Menus</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link" href="#" data-toggles="tab">Burgers</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link" href="#" data-toggles="tab">Snacks</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link" href="#" data-toggles="tab">Salades</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link" href="#" data-toggles="tab">Boisson</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link" href="#" data-toggles="tab">Deserts</a></li>
    </ul>
</nav>