{% extends 'base.html.twig' %}

{% block title %}Hello AdminProductController!{% endblock %}

{% block body %}
<h2>Liste des produits  <a href="#" class="btn btn-primary"><i class="fi-xwsuxl-plus-solid"></i>ajouter</a></h2>
<div class="card bg-white p-5 mt-4">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Catégorie</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price}}&euro;</td>
                <td>{{product.category}}</td>
                <td>
                    <a href="#" class="btn btn-primary"><i class="fi-xnsuxl-edit-solid"></i></a> 
                    <a href="#" class="btn btn-danger"><i class="fi-xnsuxl-trash-bin"></i></a> 
                    <a href="#" class="btn btn-success"><i class="fi-xwluxl-eye-wide"></i></a> 
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
