{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <div class="row my-5">
    {% for product in products %}
        {% include "partials/_product.html.twig" %}
    {% endfor %}
    </div>
{% endblock %}
