{% extends "base.html.twig" %}

{% block title %}
    Page d'erreur
{% endblock %}

{% block body %}

<div class="alert alert-danger">
    <h2>Une erreur est survenue lors du paiement</h2>
</div>
    
{% endblock %}