{% extends "base.html.twig" %}

{% block title %}
	Payer votre commande
{% endblock %}

{% block body %}
	<h1>Payer votre commande</h1>
    <div class="alert alert-primary">
        <form id="payment-form">
            <div id="card-element"><!--Stripe.js injects the Card Element--></div>
            <button id="submit" class="btn btn-success mt-3">
                <div class="spinner hidden" id="spinner"></div>
                <span id="button-text">Payer votre commande</span>
            </button>
            <p id="card-error" role="alert"></p>
	    </form>
    </div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://js.stripe.com/v3/"></script>
	<script>
        const clientSecret = "{{ clientSecret }}";
		const stripe = Stripe("pk_test_51HwK6oJzFZT0NUHQ4iYs7wc311fhhmF6OW4dGZIFfCsrdeVv2huzYcnBomC5YKoYtK9S4Ux480lzDJqUgxBT4yiX00PDkLf4X2");
        const elements = stripe.elements();
        
        const card = elements.create("card");
        // Stripe injects an iframe into the DOM
        card.mount("#card-element");
        card.on("change", function (event) {
            // Disable the Pay button if there are no card details in the Element
            document.querySelector("button").disabled = event.empty;
            document.querySelector("#card-error").textContent = event.error ? event.error.message : "";
        });

        const form = document.getElementById("payment-form");

        form.addEventListener("submit", function(event) {
            event.preventDefault();
            // Complete payment when the submit button is clicked
            stripe
                .confirmCardPayment(clientSecret, {
                        payment_method: {
                            card: card
                        }
                    })
                    .then(function(result) {
                        if (result.error) {
                            // Show error to your customer
                            console.log(result.error.message);
                        } else {
                            // The payment succeeded!
                            window.location.href = "{{ url("purchase_payement_success", {'id':purchase.id}) }}";
                        }
                });
        });
	</script>
{% endblock %}
