@import "~bootstrap/scss/bootstrap";
/*************************************************/
/********************* GLOBAL ********************/
/*************************************************/
*:hover {
	transition : all .3s ease 0s;
}

body {
    background-image : url("../images/bg.jpg");

    h1 {
        font-size : 4rem;
        color     : #e7480f;
    }

    h2 {
        color : #e7480f;
    }

    .nav {
        a {
            font-size : 1.2rem;
            &:hover{
                background-color :#007BFF;
                color            : #e7480f;
            }
        }
    }
    #best_seller {
        height: 7rem;
    }
    #cart{
        color: white ;
    }
    .card {

        .img-card {
            width      : 21.6rem;
            height     : 15rem;

            &.show {
                width      : 30.5rem;
                height     : 15rem;
            }
        }

        .price {
            background : #5cb85c;
            color      : #fff;
            text-shadow: 2px 2px #333;
            position   : absolute;
            right      : -0.5rem;
            top        : 1rem;
            padding    : 5px 2rem;
            font-size  : 1.2rem;
            border-radius: 0.2rem;
        }

        h3 {
            color : #e7480f;
        }
    }
}

