@import "~bootstrap/scss/bootstrap";

body {
    background-image : url("../images/bg.jpg");

    h1 {
        color : #e7480f;
        font-size: 4rem;
    }

    nav {
        a {
            font-size: 1.5rem;
            &:hover{
                background-color :#007BFF;
                color            : #e7480f;
            }
        }
    }
    .card {

        .img-card {
            background : #ffd301;
            width      : 21.6rem;
            height     : 15rem;

            &.show {
                background : #ffd301;
                width      : 30.5rem;
                height     : 15rem;
            }
        }

        .price {
            background : #5cb85c;
            color      : #fff;
            text-shadow: 2px 2px #333;
            position   : absolute;
            right      : -0.5rem;
            top        : 1rem;
            padding    : 5px 2rem;
            font-size  : 1.2rem;
            border-radius: 0.2rem;
        }

        h3 {
            color : #e7480f;
        }

    }

   
}

