<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {{ encore_entry_link_tags('css/app') }}
    </head>
    <body>
        {% include "partials/_navbar.html.twig" %}
        <div class="container">
            <h1 class="text-logo text-center py-3">Burger Food</h1>
            {% include "partials/_navbarProducts.html.Twig" %}
            {% block body %}{% endblock %}
        </div>
        {{ encore_entry_script_tags('js/app') }}
        <script defer src="https://friconix.com/cdn/friconix.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
